{"openapi":"3.1.0","info":{"title":"Nitro Server Routes","description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely."},"servers":[{"url":"https://comico.moe","description":"Production"},{"url":"http://localhost:3000","description":"Local development"}],"paths":{"":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/auth/{all}":{"get":{"tags":["API Routes"],"parameters":[{"name":"all","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/authors/{id}":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/changelog":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/chapters/{id}":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/chapters/{id}/like":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"put":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/collections/{id}":{"delete":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}},"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"patch":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/collections/{id}/items":{"delete":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/collections":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/comment-images/{filename}":{"get":{"tags":["API Routes"],"parameters":[{"name":"filename","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/comments/{id}":{"delete":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/comments/{id}/reaction":{"put":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/comments/{id}/vote":{"put":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/comments/images":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/comments":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/covers/{path}":{"get":{"tags":["API Routes"],"parameters":[{"name":"path","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/discord/callback":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/discord/link":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/discord/status":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/discord/sync":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/discord/unlink":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/discord/widget":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/downloads/chapter":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/downloads/manga":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/downloads/status":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/emotes":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/export/library":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/groups/{id}":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/groups":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/health":{"get":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/history":{"delete":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}},"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/history/rail":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/images/imgur":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/import/anilist":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/import/comick":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/import/comico":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/import/comix":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/internal/scrape/identity":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/library/{mangaId}":{"delete":{"tags":["API Routes"],"parameters":[{"name":"mangaId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}},"get":{"tags":["API Routes"],"parameters":[{"name":"mangaId","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"put":{"tags":["API Routes"],"parameters":[{"name":"mangaId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/library":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/library/updates":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga/{id}":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga/{id}/best-source":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga/{id}/chapters":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga/{id}/chapters/jump":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga/{id}/languages":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga/{id}/metadata":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga/{id}/rating":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"put":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/manga/{id}/recommendations":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga/{id}/sources":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/manga":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/notifications":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/notifications/read":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/og-image":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/openapi.json":{"get":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/presence":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/progress/{mangaId}":{"get":{"tags":["API Routes"],"parameters":[{"name":"mangaId","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"post":{"tags":["API Routes"],"parameters":[{"name":"mangaId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/reader/access/{id}":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/reader/chapters/{id}/open":{"post":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/reader/chapters/{id}/sources":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/reader/pages/{sessionId}/{index}":{"get":{"tags":["API Routes"],"parameters":[{"name":"sessionId","in":"path","required":true,"schema":{"type":"string"}},{"name":"index","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/search":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/search/credits":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/settings":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]},"patch":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/sources":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/stats/comments":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/stats/levels":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/stats/titles":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/stats/uploaders":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/support/check":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/support/paypal/capture":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/support/paypal/complete":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/support/paypal/create":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/support/style":{"patch":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/tags":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/upload/carrea/finalize":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/upload/carrea/inspect":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/upload/carrea/page":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/upload/drive":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/upload/drive/{id}":{"get":{"tags":["API Routes"],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/upload/drive/inspect":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/uploaders":{"get":{"tags":["API Routes"],"parameters":[{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/users/{username}":{"get":{"tags":["API Routes"],"parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/users/{username}/collections":{"get":{"tags":["API Routes"],"parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/users/{username}/comments":{"get":{"tags":["API Routes"],"parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/users/{username}/groups":{"get":{"tags":["API Routes"],"parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/users/{username}/reads":{"get":{"tags":["API Routes"],"parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/users/{username}/uploads":{"get":{"tags":["API Routes"],"parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/users/{username}/uploads/{mangaId}":{"get":{"tags":["API Routes"],"parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}},{"name":"mangaId","in":"path","required":true,"schema":{"type":"string"}},{"name":"User-Agent","in":"header","required":true,"schema":{"type":"string"},"description":"Use AppName/version (contact or project URL)."}],"responses":{"200":{"description":"OK"},"401":{"description":"Invalid API key"},"429":{"description":"Rate limit exceeded: 120 requests per minute per IP."}},"description":"Public reads allow 120 requests per minute per IP. Send X-API-Key for authenticated access and usage monitoring; a key does not raise the read rate. Clients must send a descriptive User-Agent such as AppName/version (contact or project URL). An administrator can disable the read rate limit entirely.","security":[{},{"ApiKeyAuth":[]}]}},"/api/webhooks/kofi":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/api/webhooks/resend":{"post":{"tags":["API Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/_openapi.json":{"get":{"tags":["Internal"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/manifest.webmanifest":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/__nuxt_error":{"get":{"tags":["Internal"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/_scripts/p/{*param1}":{"get":{"tags":["Internal"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/mcp":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/mcp/deeplink":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/mcp/badge.svg":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/.well-known/oauth-protected-resource":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/.well-known/oauth-protected-resource/{*param1}":{"get":{"tags":["App Routes"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/.well-known/oauth-authorization-server":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/.well-known/oauth-authorization-server/{*param1}":{"get":{"tags":["App Routes"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/.well-known/openid-configuration":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/.well-known/openid-configuration/{*param1}":{"get":{"tags":["App Routes"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/robots.txt":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/__sitemap__/style.xsl":{"get":{"tags":["Internal"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/sitemap.xml":{"get":{"tags":["App Routes"],"parameters":[],"responses":{"200":{"description":"OK"}}}},"/_og/d/{*param1}":{"get":{"tags":["Internal"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/_og/s/{*param1}":{"get":{"tags":["Internal"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/_og/r/{*param1}":{"get":{"tags":["Internal"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/_i18n/{hash}/{locale}/messages.json":{"get":{"tags":["Internal"],"parameters":[{"name":"hash","in":"path","required":true,"schema":{"type":"string"}},{"name":"locale","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/__nuxt_island/{*param1}":{"get":{"tags":["Internal"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/_ipx/{*param1}":{"get":{"tags":["Internal"],"parameters":[{"name":"*param1","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"Key format: comico_{username}_{10 alphanumeric characters}. Available to users with the dev role."}}}}